[project]
	description = Gerrit code review for Android
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Akshay Belapurkar (akshay-netwin)
[access "refs/for/refs/*"]
	read = group user/Akshay Belapurkar (akshay-netwin)
	push = group user/Akshay Belapurkar (akshay-netwin)
	label-Code-Review = -2..+2 group user/Akshay Belapurkar (akshay-netwin)
	label-Verified = -1..+1 group user/Akshay Belapurkar (akshay-netwin)
	rebase = group user/Akshay Belapurkar (akshay-netwin)
	removeReviewer = group user/Akshay Belapurkar (akshay-netwin)
	submit = group user/Akshay Belapurkar (akshay-netwin)
[access "refs/heads/*"]
	read = group user/Akshay Belapurkar (akshay-netwin)
	create = group user/Akshay Belapurkar (akshay-netwin)
	push = +force group user/Akshay Belapurkar (akshay-netwin)
	pushMerge = group user/Akshay Belapurkar (akshay-netwin)
[access "refs/tags/*"]
	push = +force group user/Akshay Belapurkar (akshay-netwin)
	pushTag = group user/Akshay Belapurkar (akshay-netwin)
	pushSignedTag = group user/Akshay Belapurkar (akshay-netwin)
